.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    background-color: #0d6efd;
}

.header img {
    width: 50px;
}